/**
 * @name LunarCord (HyprLuna theme)
 * @description A dark, minimaldiscord theme with Material You colors.
 * @author Nixev
 * @version 2.0.0
 * @invite nAHD9keWr
 * @website https://hyprluna.vercel.app
*/

@import url("https://refact0r.github.io/midnight-discord/build/midnight.css");


/* color options */
:root {
    --colors: on; /* turn off to use discord default colors */

    /* text colors */
    --text-0: #11131c; /* text on colored elements */
    --text-1: #e2e1ef; /* default text on colored elements */
    --text-2: #e2e1ef; /* headings and important text */
    --text-3: #c3c5dd; /* normal text */
    --text-4: #8d8fa6; /* icon buttons and channels */
    --text-5: #434659; /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: #0c0e17; /* dark buttons when clicked */
    --bg-2: #191b25; /* dark buttons */
    --bg-3: #1d1f29; /* spacing, secondary elements */
    --bg-4: #11131c; /* main background color */
    --hover: #282934; /* channels and buttons when hovered */
    --active: #33343f; /* channels and buttons when clicked or selected */
    --active-2: #11131c; /* extra state for transparent buttons */
    --message-hover: #434659; /* messages when hovered */

    /* accent colors */
    --accent-1: #62d4ff; /* links and other accent text */
    --accent-2: #004d63; /* small accent elements */
    --accent-3: #8ad0ee; /* accent buttons */
    --accent-4: #004d63; /* accent buttons when hovered */
    --accent-5: #b9c3ff; /* accent buttons when clicked */
    --accent-new: #ffb4ab; /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(
        to right,
        color-mix(in hsl, #004d63, transparent 70%) 60%,
        transparent
    ); /* background of messages that mention you */
    --mention-hover: linear-gradient(
        to right,
        color-mix(in hsl, #004d63, transparent 75%) 60%,
        transparent
    ); /* background of messages that mention you when hovered */
    --reply: linear-gradient(
        to right,
        color-mix(in hsl, #384379, transparent 70%) 60%,
        transparent
    ); /* background of messages that reply to you */
    --reply-hover: linear-gradient(
        to right,
        color-mix(in hsl, #384379, transparent 75%) 60%,
        transparent
    ); /* background of messages that reply to you when hovered */

    /* status indicator colors */
    --online: #62d4ff; /* change to #43a25a for default */
    --dnd: #ffb4ab; /* change to #d83a42 for default */
    --idle: #b9c3ff; /* change to #ca9654 for default */
    --streaming: #8ad0ee; /* change to #593695 for default */
    --offline: #8d8fa6; /* change to #83838b for default offline color */

    /* border colors */
    --border-light: #282934; /* light border color */
    --border: #33343f; /* normal border color */
    --button-border: #282934; /* neutral border color of buttons */

    /* base colors */
    --red-1: #ffb4ab;
    --red-2: #93000a;
    --red-3: #690005;
    --red-4: #ffdad6;
    --red-5: #ffb4ab;

    --green-1: #62d4ff;
    --green-2: #004d63;
    --green-3: #003545;
    --green-4: #bce9ff;
    --green-5: #62d4ff;

    --blue-1: #62d4ff;
    --blue-2: #004d63;
    --blue-3: #003545;
    --blue-4: #bce9ff;
    --blue-5: #62d4ff;

    --yellow-1: #b9c3ff;
    --yellow-2: #384379;
    --yellow-3: #212c61;
    --yellow-4: #dde1ff;
    --yellow-5: #b9c3ff;

    --purple-1: #8ad0ee;
    --purple-2: #004d63;
    --purple-3: #003545;
    --purple-4: #bce9ff;
    --purple-5: #8ad0ee;
}